@media only screen and (max-width : 1200px) {

}
@media only screen and (max-width : 992px) {
	.col-md-3{
		display:inline-block;
		margin: 5% 8%;
	}
	.htmlvSectionWrapper{
	padding: 0.2em;
}

}
@media only screen and (max-width : 495px) {
	
}
@media only screen and (max-width : 340px) {
	.col-md-3{
		margin: 5%;
	}
	.ImgContainer{
		max-width:65%;
	}
}